node_modules/
VERSION.txt
.env
**삭제예정/
config.js
src/js/vendor_request/token/credentials_bnam91.js
src/js/vendor_request/token/credentials_contant01.js
src/js/vendor_request/token/credentials_jisu04.js